* {
	font-family: "Roboto", sans-serif;
}

h1, h2 {
	font-family: "Montserrat", sans-serif;
}

img {
	height: 250px;
	width: 250px;
}

/*.red-text {	color: red;}*/
/*#red-text {	color: red;}*/

/*CSS Specificity Rule: apply style to h1,h2 instead of ***all*/
/*# means id; . means class*/
/* *means all

selector {
	css-property1: value;
	css-property2: value;
	css-property3: value;
} {X} means scope of rules applied 

*/


#landing {
	height: 80vh;
	/*vh=viewpoint height=screen height*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.jumbotron {
	background-color: transparent;
}

#gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 75vh;
}

ul {
	list-style: none;
	padding: 0;
}

h2 {
	color: #FFFFFF;
}

.tools {
	padding: 25px;
	height: 200px;
	border: 5px solid #f2f2f2;
	margin: 20px;
	width: 75%;
}

html {
	scroll-behavior: smooth;
}